<div class="container" style="margin-left: 5%;">
    <div class="fb-profile">
        <img id="coverpage" src="{{UserProfile.coverpage}}"  align="left" class="fb-image-lg" alt="Profile image example"/>
        <div>
            <img id="pictureprofile" src="{{UserProfile.picture}}" align="left" class="fb-image-profile thumbnail" alt="Profile image example"/>
            <h3 class="Name">{{UserProfile.user}}</h3>
        </div>
    </div>
</div>
<div class="Description" style="margin-left: 15%;"> 
    <h6 class="text">{{UserProfile.description}}</h6>
</div>
<div class="container" style="text-align: center;margin-left: 15%;">
    <div><!--AQUI directiva ngfor  y buscar color para los post-->
        <p class="post">este es un post asdfasdfasdf asdf asdf asdf adsfasdf asdf asd fasdfa sdfasdfasdfasdf asdfasdfasdfjahsdkfhaksjdfhkashdfjkashdkjfhaskdjfhaksjdhfkjasdhfkjasdhfkj<br>
            de dos lineas<br></p>
    </div>
</div>